<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body mt-3">
      <h1 class="text-center">登入</h1>

      <form action="/user/login" method="POST">
        <div class="mb-3">
          <label for="accountId" class="form-label">帳號</label>
          <input type="text" id="accountId" name="accountId" class="form-control" placeholder="請輸入帳號...">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼...">
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-info">確認送出</button>
        </div>
      </form>

      <p class="lead mt-4">
        <a href="/user/register">註冊帳號</a>
      </p>
    </div>
  </div>
</div>